!!!
%html
  %head
    %title Buildroot test results
    %style
      = `cat public/vendor/bootstrap/css/bootstrap.min.css`
      = `cat public/css/site.css`
      = `cat public/vendor/bootstrap/css/bootstrap.css`
    %script
      = `cat public/vendor/jquery-1.9.1.min.js`
      = `cat public/vendor/bootstrap/js/bootstrap.js`
  %body
    %div.container
      = yield


