%table.collapsable
  %theader
    %tr
      %th Name
      %th
      %th Last executions (#{period} days)
  %tbody
    - width = @width || 700.0
    - packages.each do |package, data|
      - prev = data[:nodes][-1]
      - nodes = data[:nodes][0..-2]
      %tr
        %td #{package.name} (#{change_helper(data)})
        %td{style: "position:relative"}
          %a{href: "/test/#{prev.buildroot_test.id}"}
            %div.graph{style: "left:0px; width:10px", class: "#{prev.passed ? "green" : (prev.failed ? "red" : "yellow")}", title: "#{prev.html_date}"} 
        %td.graph
          %div.relative_graph{style: "width:#{width}px"}
            - prepare_for_display(nodes, @start_time, @end_time).each do |tp|
              %a{href: "/test/#{tp[:tp].buildroot_test.id}"}
                %div.graph{style: "left:#{(tp[:start] * width).to_i}px;width:#{(tp[:width] * width).to_i}px", class: "#{tp[:tp].passed ? "green" : (tp[:tp].failed ? "red" : "yellow")}", title: "#{tp[:tp].html_date}"} 
