%table.collapsable
  %theader
    %tr
      %th Name
      %th Last executions (#{period} days)
  %tbody
    - width = @width || 850.0
    - packages.each do |package, data|
      - prev = data[:nodes][-1]
      - nodes = data[:nodes][0..-1]
      %tr
        %td #{package.name} (#{change_helper(data)})
        %td.graph
          %div.relative_graph{style: "width:#{width}px"}
            - prepare_for_display(nodes, @start_time, @end_time).each do |tp|
              %a{href: "#{base_url}/test/#{tp[:tp].buildroot_test.id}"}
                %div.graph{style: "left:#{(tp[:start] * width).to_i}px;width:#{(tp[:width] * width).to_i}px", class: "#{tp[:tp].passed ? "green" : (tp[:tp].failed ? "red" : "yellow")}", title: "#{tp[:tp].html_date}"} 
